.demos-nav {
	display: flex;
	a {
		margin: 8px 14px;
		display: block;
		color: #fff;
		background: #333;
		padding: 8px 12px;
		text-decoration: none;
		border-bottom: #333 solid 2px;
		&:hover, &.active {
			border-bottom-color: #a30;
		}
	}
}