<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Shipstation API Use Cases
  </h1>
</div>

<nav class="demos-nav">
  <a routerLink="/view-orders" routerLinkActive="active">View Orders</a>
  <a routerLink="/demo-link-1" routerLinkActive="active">Demo 1</a>
  <a routerLink="/demo-link-2" routerLinkActive="active">Demo 2</a>
</nav>

<hr/>
<router-outlet></router-outlet>
