<table datatable [dtOptions]="dtOptions" class="row-border hover">
	<thead>
		<tr>
			<th>Order Number</th>
			<th>Order Date</th>
			<th>Create Date</th>
			<th>Order Total</th>
			<th>Order Status</th>
		</tr>
	</thead>
	<tbody *ngIf="orders?.length != 0">
		<tr *ngFor="let order of orders">
			<td>{{order.orderNumber}}</td>
			<td>{{order.orderDate | date: 'dd/MM/yyyy H:mm:ss'}}</td>
			<td>{{order.createDate | date: 'dd/MM/yyyy H:mm:ss'}}</td>
			<td>{{order.orderTotal | currency}}</td>
			<td>{{order.orderStatus}}</td>
		</tr>
	</tbody>
	<tbody *ngIf="orders?.length == 0">
		<tr>
			<td colspan="4" class="no-data-available">No data!</td>
		</tr>
	<tbody>
</table>
